<div class="card">
    <div class="card-header display-4 text-center">{{title}}</div>
    <div class="card-body">
        <form (ngSubmit)="create()" id="myForm" class="w-50 mx-auto font-weight-bold text-info">
            <div class="row">
                <div class="col">
                    <label for="titulo" class="col-form-label">Título</label>
                    <input name="titulo" type="text" class="form-control" [(ngModel)]="juego.titulo" placeholder="Titulo">
                </div>
                <div class="col">
                    <label for="fechaLanzamiento" class="col-form-label">Fecha de Lanzamiento</label>
                    <input name="fechaLanzamiento" type="date" class="form-control" [(ngModel)]="juego.fechaLanzamiento">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="precio" class="col-form-label">Precio</label>
                    <input name="precio" type="text" class="form-control" [(ngModel)]="juego.precio">
                </div>
                <div class="col">
                    <label for="pegi" class="col-form-label">PEGI</label>
                    <input name="pegi" type="text" class="form-control" [(ngModel)]="juego.pegi">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Categoria</mat-label>
                        <mat-select [(ngModel)]="juego.categoria" name="categoria">
                            <mat-option *ngFor="let enum of enums" [value]="enum">
                                {{enum}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Compañías</mat-label>
                        <mat-select [formControl]="toppings" multiple [(ngModel)]="juego.companies" name="companies">
                            <mat-select-trigger>
                                {{toppings.value ? toppings.value[0]?.nombre : ''}}
                                <span *ngIf="toppings.value?.length >
                                     1" class=".example-additional-selection">
                              (+{{toppings.value.length - 1}})
                                </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let topping of opciones" [value]="topping">{{topping.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Crear</button>
            <button routerLink="/juegos" class="btn btn-secondary w-100 mt-3">Cancelar</button>
        </form>
    </div>
</div>